{:highlights [{:id #uuid "6298a045-e586-4cf5-8a00-568d0c3a48bd",
               :page 1,
               :position {:bounding {:x1 926.3419799804688,
                                     :y1 653.796875,
                                     :x2 1112.49169921875,
                                     :y2 678.796875,
                                     :width 1349.2922666666666,
                                     :height 1766.9301333333333},
                          :rects ({:x1 926.3419799804688,
                                   :y1 653.796875,
                                   :x2 1112.49169921875,
                                   :y2 678.796875,
                                   :width 1349.2922666666666,
                                   :height 1766.9301333333333}),
                          :page 1},
               :content {:text "exico-grammatical"},
               :properties {:color "yellow"}}
              {:id #uuid "6298a079-4e49-4ccb-bcfe-3829b1fab159",
               :page 1,
               :position {:bounding {:x1 543.1323852539062,
                                     :y1 780.25,
                                     :x2 636.48486328125,
                                     :y2 805.25,
                                     :width 1349.2922666666666,
                                     :height 1766.9301333333333},
                          :rects ({:x1 543.1323852539062,
                                   :y1 780.25,
                                   :x2 636.48486328125,
                                   :y2 805.25,
                                   :width 1349.2922666666666,
                                   :height 1766.9301333333333}),
                          :page 1},
               :content {:text "BNC2014"},
               :properties {:color "yellow"}}
              {:id #uuid "6298a0f3-04d7-48eb-938a-d4ff7d28521b",
               :page 4,
               :position {:bounding {:x1 244,
                                     :y1 135,
                                     :x2 669,
                                     :y2 680,
                                     :width 1349.2922666666666,
                                     :height 1766.9301333333333},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1654169842465},
               :properties {:color "yellow"}}
              {:id #uuid "6298a15d-eb07-4ca8-94a3-8ec967c8d433",
               :page 5,
               :position {:bounding {:x1 693.90625,
                                     :y1 1269.1875,
                                     :x2 1053.89794921875,
                                     :y2 1300.1875,
                                     :width 1349.2922666666666,
                                     :height 1766.9301333333333},
                          :rects ({:x1 693.90625,
                                   :y1 1269.1875,
                                   :x2 1053.89794921875,
                                   :y2 1300.1875,
                                   :width 1349.2922666666666,
                                   :height 1766.9301333333333}),
                          :page 5},
               :content {:text "Individual Speaker Variation"},
               :properties {:color "blue"}}
              {:id #uuid "6298b87e-b1eb-4249-b3dc-1404f1d3c637",
               :page 1,
               :position {:bounding {:x1 179.20572918653488,
                                     :y1 294.19268798828125,
                                     :x2 261.8935953974724,
                                     :y2 305.859375,
                                     :width 606.9999999999999,
                                     :height 794.8808552671366},
                          :rects ({:x1 179.20572918653488,
                                   :y1 294.19268798828125,
                                   :x2 261.8935953974724,
                                   :y2 305.859375,
                                   :width 606.9999999999999,
                                   :height 794.8808552671366}),
                          :page 1},
               :content {:text "The present study"},
               :properties {:color "yellow"}}
              {:id #uuid "6298b8c5-63a4-41f4-bfba-1128fd2bfba7",
               :page 4,
               :position {:bounding {:x1 307,
                                     :y1 59.5,
                                     :x2 502,
                                     :y2 307.5,
                                     :width 606.9999999999999,
                                     :height 794.8808552671366},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1654175939402},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
